# Running SQL Queries Programmatically

- DataFrames can easily be manipulated using SQL queries in PySpark. The `sql()` function on a SparkSession enables applications to run SQL queries programmatically and returns the result as another DataFrame. In this exercise, you'll create a temporary table of the `people_df` DataFrame that you created previously, then construct a query to select the names of the people from the temporary table and assign the result to a new DataFrame.

- Remember, you already have `SparkSession` `spark` and `people_df` DataFrame available in your workspace.

## Instructions

- Create a temporary table `people` that's a pointer to the `people_df` DataFrame.
- Construct a query to select the names of the people from the temporary table `people`.
- Assign the result of Spark's query to a new DataFrame - `people_df_names`.
- Print the top 10 names of the people from `people_df_names` DataFrame.

In [1]:
# Intialization
import os
import sys

os.environ["SPARK_HOME"] = "/home/talentum/spark"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3.6" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/bin/python3"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

# NOTE: Whichever package you want mention here.
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0 pyspark-shell' 
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.3 pyspark-shell'
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'

In [2]:
#Entrypoint 2.x
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().getOrCreate()

# On yarn:
# spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().master("yarn").getOrCreate()
# specify .master("yarn")

sc = spark.sparkContext

In [44]:
file_path = "file:///home/talentum/test-jupyter/P2/M3/SM3/Dataset/people.csv"

# Create an DataFrame from file_path
people_df = spark.read.csv(file_path, header=True, inferSchema=True)

# Create a temporary table "people"
people_df.createOrReplaceTempView("people")

# Construct a query to select the names of the people from the temporary table "people"
query = '''SELECT name FROM people'''

# Assign the result of Spark's query to people_df_names
'''
pyspark.sql.SparkSession.sql(sqlQuery)

Returns a DataFrame representing the result of the given query.
'''
people_df_names = spark.sql(query)

# Print the top 10 names of the people
print(people_df_names.show(10))

+----------------+
|            name|
+----------------+
|  Penelope Lewis|
|   David Anthony|
|       Ida Shipp|
|    Joanna Moore|
|  Lisandra Ortiz|
|   David Simmons|
|   Edward Hudson|
|    Albert Jones|
|Leonard Cavender|
|  Everett Vadala|
+----------------+
only showing top 10 rows

None

In [7]:
people_df.columns

['_c0', 'person_id', 'name', 'sex', 'date of birth']

In [20]:
query = '''SELECT `date of birth` from people where DAY(`date of birth`)>25''' # DAY/MONTH/YEAR
people_df_names = spark.sql(query)

# Print the top 10 names of the people
people_df_names.show(10)

+-------------+
|date of birth|
+-------------+
|   1990-08-31|
|   1999-12-30|
|   1970-05-26|
|   1973-12-27|
|   1959-05-31|
|   2009-12-30|
|   2029-05-27|
|   1995-10-29|
|   2021-05-29|
|   1979-06-28|
+-------------+
only showing top 10 rows

In [43]:
query = '''select * from people where year(`date of birth`)>(SELECT max(year(`date of birth`)) from people where substring(name,1,1)=="A")''' # DAY/MONTH/YEAR
people_df_names = spark.sql(query)

# Print the top 10 names of the people
people_df_names.show(10)

+-----+---------+-----------------+------+-------------+
|  _c0|person_id|             name|   sex|date of birth|
+-----+---------+-----------------+------+-------------+
| 7519|     7619|     Mario Helton|  male|   2050-11-10|
|10383|    10483|Loretta Fernandez|female|   2054-07-23|
|12305|    12405|   Donald Edwards|  male|   2056-08-13|
|20768|    20868|       Nancy Egan|female|   2051-02-23|
|22620|    22720|   Jeffrey Varela|  male|   2052-07-01|
|23018|    23118|       Lori Ligon|female|   2053-12-19|
|24991|    25091|       Mac Bishop|  male|   2058-06-22|
|28868|    28968|      Lori Hudson|female|   2057-04-15|
|33866|    33966|    Marcia Mccain|female|   2050-04-22|
|39783|    39883|        John Shaw|  male|   2053-08-14|
+-----+---------+-----------------+------+-------------+
only showing top 10 rows